body {
    background-color: coral;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: cornsilk;
    }
      
    .todo-header {
        width: 100%;
        text-align: center;
    }
      
    .row {
    
    }
      
    #todos {
        border: 2px solid coral;
        padding:15px;
        background-color: cornsilk;
    }
      
    #todos li {
        padding-left: 0;
        margin: 15px;
    }
      
      
    .todo-completed {
        text-decoration:line-through;
    }
      
    .todo-completed button {
        text-decoration: none;
    }
      
    .btn {
        display: inline;
    }